@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("/../extra/images/index/sounio2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul li a{
    color: #fff;
}

footer {
    background-color: #ffffffab;
    height: 40px;
}

html,
body {
  width: 100%;
  /* height: 100%; */
}

.search {
    width: 35%;
    height: 300px;
    background-color: #ffffffab;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 0;
}

.firstBox,
.secondBox {
    display: flex;
}

.firstBox select {
    width: 35%;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    /* margin-bottom: 20px; */
}

.secondBox input {
    width: 44%;
    margin-left: 10px;
    margin-right: 10px;
}

.item {
    flex: 1 1 45%;
    padding: 10px;
    margin: 2px;
    text-align: center;
    border: 1px solid #535358a3;
    border-radius: 2px;
}

.item1, .item2 {
    background-color: #e7e8eda3;
}

.fas.fa-bars {
    color: #e7e8eda3;
}

.search_btn {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

#submitButton {
    letter-spacing: 3px;
    margin-right: 6px;
    padding: 10px 50px;
    background-color: rgb(240, 102, 48);;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#submitButton:hover {
    background: #d62121b3;
}

.description h1,
.description h2 {
    color: #fff;
    padding: 16px;
    letter-spacing: 5px;
    opacity: 0.8;
}

.description h1 {
    font-size: 26px;
}

.description h2 {
    font-size: 40px;
}

/* .navbar ul .navbar-links:hover {
    background-color: purple;
    border-radius: 2px;
    background-color: #ffffffab;
} */

@media screen and (max-width: 1115px) {
   .container {
       width: 100%;
   }

   .firstBox select,
   .secondBox input {
       margin-right: 4px;
       margin-left: 4px;
   }

   .description,
   .search {
       width: 48%;
   }
}

@media screen and (max-width: 700px) {
    main {
        flex-direction: column;
        justify-content: center;
    }

    .description,
    .search {
        width: 97%;
        margin-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .description h1 {
        font-size: 16px;
    }
    
    .description h2 {
        font-size: 26px;
    }

    .search_btn {
        justify-content: center;
    }

}
