@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    height: 700px;
}

.item1 {
    width: 20%;
    box-shadow: 0 2px 4px 4px rgb(0 0 0 / 20%);
}

.item2 {
    width: 80%;
}

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10px;
}

.container1 p {
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(240, 102, 48);
    padding: 35px;
}

.cont_item {
    padding: 15px;
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #9e9e9e;
    border-radius: 2px;
}

.cont_item1 , .cont_item2, .cont_item3 {
    background-color: #e7e8eda3;
}

.btn {
    background-color: rgb(240, 102, 48);
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn:hover {
    background: #d62121b3;
}

.container2 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.container2 .title {
    background-color: rgb(240, 102, 48);
    color: #fff;
    padding: 5px;
    font-weight: 200;
    width: 90%;
    border-radius: 4px;
}

.hotel {
    display: flex;
    margin: 10px 0;
}

.info {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: space-between;
    color: #1f1c1c;
}

.info h2{
    font-size: 22px;
    font-weight: 300;
}

.info h3{
    font-size: 18px;
    font-weight: 200;
}

.info p {
    font-size: 14px;
    font-weight: 100;
}

.media {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.media img {
    width: 90%;
}

.media span {
    padding: 5px;
    background-color: #1f1c1c;
    color: #fff;
    width: 90%;
    text-align: center;
}

.extra {
    display: flex;
    padding: 5px;
    background-color: #e7e8eda3;
    font-size: 12px;
    white-space: nowrap;
    justify-content: space-around;
    align-items: center;
}

.room-page {
    align-self: flex-end;
    padding: 5px;
}

.room-page {
    background-color: rgb(240, 102, 48);
    color: #fff;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.room-page a {
    color: white;
    text-decoration: none;
}

.red {
    color: darken( #EF8D9C, 10%);
    font-size: 12px;
    text-decoration: none;
  }

.alert {
    font-weight: 700;
    letter-spacing: 5px;
  }

  p {
    margin-top: -5px;
    font-size: 14px;
    font-weight: 100;
    color: darken(#777777, 10%);
    letter-spacing: 1px;
  }
  
  button, .dot {
    cursor: pointer;
  }

  #error-box {
    position: absolute;
    width: 25%;
    height: 35%;
    margin-top: 50px;
    margin-left: 20%;
    background: linear-gradient(to bottom left, rgb(240, 102, 48) 40%, #FFC39E 100%);
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(#CBCDD3, 10%);
  }

  .dot {
    width: 8px;
    height: 8px;
    background: #FCFCFC;
    border-radius: 50%;
    position: absolute;
    top: 4%;
    right: 6%;
  }

  .dot:hover {
    background: darken(#FCFCFC, 20%);
  }
  
  .two {
    right: 12%;
    opacity: .5;
  }

  .face2 {
    position: absolute;
    width: 22%;
    height: 22%;
    background: #FCFCFC;
    border-radius: 50%;
    border: 1px solid #777777;
    top: 21%;
    left: 37.5%;
    z-index: 2;
    animation: roll 3s ease-in-out infinite;
  }

  .eye {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #777777;
    border-radius: 50%;
    top: 40%;
    left: 20%;
  }
  
  .right {
    left: 68%;
  }
  
  .mouth {
    position:absolute;
    top: 43%;
    left: 41%;
    width: 7px;
    height: 7px;
    border-radius: 50%;
  }

  .sad {
    top: 49%;
    border: 2px solid;
    border-color: #777777 transparent transparent #777777;
    transform: rotate(45deg);
  }
  
  .shadow {
    position: absolute;
    width: 21%;
    height: 3%;
    opacity: .5;
    background: #777777;
    left: 40%;
    top: 43%;
    border-radius: 50%;
    z-index: 1;
  }

  .move {
    animation: move 3s ease-in-out infinite;
  }

  .message {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 40%;
    top: 47%;
  }
  
  .button-box {
    position: absolute;
    background: #FCFCFC;
    width: 50%;
    height: 15%;
    border-radius: 20px;
    top: 73%;
    left: 25%;
    outline: 0;
    border: none;
    box-shadow: 2px 2px 10px rgba(#777777, .5);
    transition: all .5s ease-in-out;
  }

  .button-box:hover {
    background: darken(#FCFCFC, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out; 
  }
  
  @keyframes bounce {
    50% {
       transform: translateY(-10px);
    }
  }
  
  @keyframes scale {
    50% {
      transform: scale(0.9);
    }
  }
  
  @keyframes roll {
    0% {
      transform: rotate(0deg);
      left: 25%;
    }
    50% {
      left: 60%;
      transform: rotate(168deg);
    }
    100% {
      transform: rotate(0deg);
      left: 25%;
    }
  }
  
  @keyframes move {
    0% {
      left: 25%;
    }
    50% {
      left: 60%;
    }
    100% {
      left: 25%;
    }
  }
  

/* MEDIA QUERIES */

@media screen and (max-width: 992px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .container2, .container1  {
        width: 80%;
        margin-top: 10px;
    }

    .container2 .title {
        width: 100%;
    }

    .media {
        justify-content: space-between
    }

    .media span {
        white-space: nowrap;
    }
  }

  @media screen and (max-width: 730px) {
      .hotel {
          display: flex;
          flex-direction: column;
      }

      .media, .info {
          width: 100%;
      }

      .media img,
      .media span {
          width: 70%;
      }
}

@media screen and (max-width: 440px) {
    .extra {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .extra .room-page {
        align-self: center;
    }
}