@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.left {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.right {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.checked {
  color: orange;
}

.inner_container,
.user_fav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
}

.inner_container a,
.user_fav a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.stars {
  display: flex;
  flex-direction: row;
}

.comment h3 {
  font-size: 12px;
}

.favorites h1,
.reviews h1 {
  font-size: 18px;
  padding: 10px;
  color: rgb(240, 102, 48);
}

.title {
  width: 100%;
  background-color: rgb(240, 102, 48);
  color: #fff;
  padding: 5px;
}

.title h1 {
  font-size: 16px;
}

.bookings,
.extra {
  display: flex;
}

.bookings {
  padding: 5px 5px 15px 0;
}

.bookings img {
  width: 200px;
  height: 150px;
}

ul, li {
  list-style-type: none;
}

.right_side {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.right_side h1 {
  font-size: 14px;
}

.right_side p {
  font-size: 12px;
}

.right_side a {
  text-decoration: none;
  padding: 5px;
  background-color: rgb(240, 102, 48);
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  align-self: flex-end;
}

.img {
  padding: 5px;
}

.right_side .extra {
  padding: 5px;
  background-color: aliceblue;
  font-size: 11px;
  justify-content: space-around;
}

h2 {
  font-size: 12px;
  color: red;
}