@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

main, .tabs {
  min-height: calc(100vh - 70px);
}

footer {
  height: 40px;
}

.tabs {
  display: flex;
  justify-content: center;
}

.checked {
  color: rgb(255, 152, 0);
}

.season_tabs {
  width: 95%;
  position: relative;   
  min-height: 500px; 
  clear: both;
  margin: 25px 0;
  overflow-y: hidden;
}

.season_tab {
  float: left;  
  clear: both;
  /* width: 286px; */
  width: 700px;
}
.season_tab label {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    font-size: 21px;
    vertical-align: middle;
    position: relative;
    left: 1px;
    width: 264px;
    height: 68px;
    display: table-cell;
}
.season_tab [type=radio] {
  display: none;   
}
.season_content {
  position: absolute;
  top: 0;
  left: 286px;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  /* border: 1px solid #ccc; */
 }
.season_content span {
  animation: 0.5s ease-out 0s 1 slideInFromTop; 
}
[type=radio]:checked ~ label {
  background-color: #f94327;
  background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%);
  border-bottom: 2px solid black;
  z-index: 2;
}
[type=radio]:checked ~ label ~ .season_content {
  z-index: 1;
}

.reviews ul li {
  list-style-type: none;
}
.reviews ul li .inner_container {
  padding-bottom: 10px;
  border-bottom: 1px dotted #ccc;
  width: 550px;
}
.reviews ul li .inner_container a {
  text-decoration: none;
  color: #808080;
  font-weight: 200;
}
.inner_container .comment {
  /* width: 550px; */
  font-size: 13px;
  text-overflow: ellipsis;
}

h2.error {
  color: red;
  font-size: 14px;
}

.fav li {
  list-style-type: none;
}

.user_fav {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 10px;
  padding-top: 10px;
}

.user_fav a {
  text-decoration: none;
  color: #f94327;
}

.season_content ul {
  list-style-type: none;
}

.bookings {
  display: flex;
  padding-bottom: 10px;
}

.bookings .img {
  width: 25%;
}
.bookings .img img {
  width: 90%;
}

.bookings .right_side {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bookings .right_side .main h1 {
  font-weight: 300;
  font-size: 22px;
}

.bookings .right_side .main p {
  font-size: 18px;
  font-weight: 200;
}

.bookings .right_side .main p:last-child {
  font-size: 14px;
  font-weight: 100;
}

.bookings .right_side .extra {
    display: flex;
    padding: 5px;
    background-color: #e7e8eda3;
    font-size: 12px;
    white-space: nowrap;
    justify-content: space-around;
    align-items: center;
    font-weight: 100;
}

.extra p span {
  font-weight: bold;
}

.extra a {
  color: #fff;
  text-decoration: none;
  padding: 4px;
  background-color: #f94327;
  background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%);
}

.extra .payBtn {
  background-color: red;
  background-image: none;
}

.fas.fa-map-marker-alt {
  color: #f94327;
  margin-right: 2px;
}

