@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("/../extra/images/backPhoto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 70px);
}

footer.margin-top {
    height: 40px;
    display: flex;
    margin-top: 10px;
}

footer p {
    margin-bottom: 0;
}

.top_header {
    display: flex;
    width: 100%;
    justify-content: center;
}

.title {
    width: 100%;
    display: flex;
    /* background-color: rgb(240, 102, 48); */
    padding: 0 5px;
    color: #fff;
    align-items: baseline;
    background-color: #f94327;
    background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%);
}

.title h1, .title h2 {
    font-size: 16px;
    font-weight: 200;
    margin-left: 8px;
    margin-right: 10px;
}

.title h2 {
    margin-left: auto;
    margin-right: 8px;
}

.room_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.room_info p {
    font-size: 14px;
}

.amenities {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    color: black;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.amenities p {
    flex: 1 1 30%;
    padding: 5px 0px 0px 5px;
    font-size: 12px;
}

.amenities p:nth-child(2n+1) {
    flex: 0 1 55%;
}

.btn {
    display: flex;
    justify-content: end;
    margin: 10px 0;
}

.btn3 {
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin: 4px;
}

.btn3 a {
    text-decoration: none;
    color: #fff;
}

.btn3 a:hover {
   color: #d9d9d9; 
}

.bookingForm {
    display: flex;
    align-items: center;
    width: 32%;
    justify-content: end;
}

.btn1 {
    cursor: pointer;
    border-radius: 8px;
    outline: none;
    font-weight: 600;
    width: 150px;
    padding: 10px 15px;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    -webkit-tap-highlight-color: transparent;
    border: none;
    background-color: #f94327;
    background-image: linear-gradient(316deg, #f94327 0%, #ff7d14 74%);
    color: #fff;
}

.btn1:hover {
    background-color: rgb(240, 102, 48);
    color: #fff;
}

.check_availability {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

.check_availability:hover {
    text-decoration: none;
    color: whitesmoke;
}

.checked {
    color: rgb(255, 152, 0);
}

.btn2 {
    margin-left: 17px;
    border-radius: 8px;
    outline: none;
    font-weight: 600;
    padding: 10px 15px;
    width: 100px;
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    font-size: 12px;
    color: #fff;
}

.btn2 a {
    text-decoration: none;
    color: #fff;
}

.fav {
    /* display: flex; */
    list-style-type: none;
    cursor: pointer;
    font-size: 20px;
    /* align-items: center;
    justify-content: space-around; */
}

#favoriteForm {
    width: 20px;
    height: 20px;
}

#favoriteForm:hover {
    width: 20px;
    height: 20px;
    /* border: 1px solid #F0F0F0;
    border-radius: 2px; */
    background-color: #ff7d14;
}

.selected {
    color: #d65076;
}

.first_box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.description {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.description .room_title {
    display: flex;
    justify-content: space-around;
}

.room_title h4 {
    font-size: 20px;
}

.room_reviews {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px dotted gray;
}

.content_left {
    display: flex;
    align-items: baseline;
}

.content_left span {
    text-transform: capitalize;
    margin-right: 20px;
}

.content_left h5 {
    font-size: 12px;
    color: #878787;
}

.content_right .stars span {
    font-size: 15px;
}

.content_right p {
    border-bottom: 1px dotted #878787 ;
}

.room_reviews div:nth-child(2n+1) {
    background-color: #ffeb3b1c;
    height: 30px;
}

/* Pop up */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 50%;
  }

  .modal-content1 {
    background-color: #ffffff;
    width: 35%;
    height: 35%;
    margin: 15% auto;
    padding: 20px;
  }
  
  .close,
  .close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .modal-content p.close{
    position: fixed;
    font-size: 22px;
    margin-left: 930px;
  }

  .close:hover,
  .close:focus,
  .close1:hover,
  .close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn {
      cursor: pointer;
      color: blue;
      font-size: 16px;
      text-decoration: underline;
      font-weight: 100;
      display: inline-block;
  }

  .popup i {
      color: blue;
      cursor: pointer;
  }

  .modal-content iframe {
      width: 100%;
      height: 100%;
  }

  .first_btn {
      background-color: yellowgreen;
  }

  .book_btn {
      display: flex;
      justify-content: end;
  }

.starrr {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
 }

.starrr a {
    font-size: 28px;
    padding: 0 1px;
    cursor: pointer;
    color: rgb(255, 152, 0);
    text-decoration: none;
 }

 .starrr a:hover {
    color: rgb(255, 152, 0);
    text-decoration: none; 
 }

 .average_reviews {
     display: flex;
     width: 70%;
     justify-content: space-evenly;
     align-items: baseline;
 }

 .review_title {
     display: flex;
     flex-wrap: wrap;
 }

 #myBtn1 {
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
    /* position: absolute;
    margin-left: -50px; */
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    padding: 5px;
    border: none;
    width: 120px;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 .popup .fa-pencil {
    color: black;
 }

 .average_reviews h1 {
    color: rgb(255, 152, 0);
    font-size: 26px;
 }

 .average_reviews p {
    color: #878787;
    font-size: 16px;
 }

 .stars span {
     font-size: 22px;
 }

.reviewForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#review {
    background-color: rgb(240, 102, 48);
    align-self: center;
    padding: 7px;
    border: none;
    color: white;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    margin-top: 10px;
    width: 40%;
}

#comment {
    width: 70%;
    height: 25%;
}

.second_container {
    display: flex;
    width: 100%;
    margin-top: 20px;
    /* justify-content: left; */
    /* flex-direction: column; */
}

.second_container div.reviews {
    width: 47%;
}
.second_container div.reviews .reviews {
    width: 100%;
}

.second_container div.firstItem {
    width: 50%;
}

.pay,
.dates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

.reviews {
    margin-left: 10px;
}

/* Image gallery */
#selected_img {
	max-width: 800px;
	width: 100%;
	height: auto;
	margin: 0 auto;
 }

 #selected_img img {
	width: 100%;
	/* height: 330px; */
    height: auto;
 }

 #image_list {
     display: flex;
 }

 #image_list li {
    margin-top: 10px;
	flex: 1 1 30%;
	display: inline-block;
	max-height: 250px;
	cursor: pointer;
 }

 #image_list li img {
	width: 98%;
    height: 100px;
 }

 .image_gallery {
	 width: 55%;
 }

.booking_details h1 {
    font-size: 17px;
    font-weight: 600;
}

.booking_details {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 20px;
}

.booking_details .price {
    width: 45%;
}

.no_reviews {
    margin-left: 5px;
    color: red;
}

@media screen and (max-width: 1000px) {
    .container {
        max-width: calc(100vw - 10%);
    }

    .modal-content p.close{
        margin-left: 55%;
      }

      .insertReview .reviewForm {
          width: 95%;
      }

      .reviewForm #comment {
          width: 85%;
      }
}

@media screen and (max-width: 900px) {
    .container {
        max-width: calc(100vw - 5%);
    }

    .modal-content {
        width: 70%;
        height: 40%;
        margin: 30% auto;
    }
}

@media screen and (max-width: 850px) {
    .modal-content1 {
        height: 22%;
    }
}

@media screen and (max-width: 780px) {
    .first_box {
        flex-direction: column;
    }

    .firstItem {
        margin-bottom: 30px;
    }

    .first_box .image_gallery,
    .first_box .description {
        width: 90%;
    }

    .pay,
    .dates {
        width: 100%;
    }

    .second_container {
        flex-direction: column;
    }

    .second_container div.firstItem,
    .second_container div.reviews {
        width: 80%;
    }

    .modal-content p.close{
        margin-left: 62%;
      }

      .modal-content1 {
          width: 50%;
      }
}

@media screen and (max-width: 580px) {
    .first_box .image_gallery,
    .first_box .description {
        width: 100%;
    }

    .title {
        flex-wrap: wrap;
    }

    .title h2 {
        margin-left: 8px;
    }

    .second_container div.firstItem,
    .second_container div.reviews {
        width: 95%;
    }

    .modal-content1 {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .average_reviews {
        width: 100%;
    }

    #selected_img img {
        height: auto;
    }

    #image_list li img {
        height: 70px;
    }

    .modal-content {
        width: 90%;
        height: 60%;
    }

    .modal-content1 {
        width: 90%;
        height: 40%;
    }
}

#myModal,
#myModal1 {
    display: none;
}

.modal-content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-evenly;
}

.modal-content .close {
    width: 2%;
}

.modal-content .map {
    width: 95%;
}

.modal-content1 {
    border-radius: 6px;
}

.insertReview {
    width: 95%;
    height: 100%;
}

.reviewForm {
    width: 100%;
    height: 100%;
}

.close1 {
    background-color: #fff;
    font-size: 22px;
    border: none;
}

.fa.fa-star:active,
.fa.fa-star:visited,
.fa.fa-star:focus,
.fa.fa-star:hover,
.starrr a:focus {
    color: rgb(255, 152, 0);
    text-decoration: none;
}

