@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top_header {
    display: flex;
    width: 80%;
    justify-content: center;
}

.title {
    width: 100%;
    display: flex;
    background-color: rgb(240, 102, 48);
    color: #fff;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
}

.title h1, .title h2 {
    font-size: 16px;
    font-weight: 200;
}

.room_info {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 20px;
}

.room_info img {
    width: 80%;
}

.room_info p {
    font-size: 14px;
}

.amenities {
    background-color: rgb(240, 102, 48);
    color: #fff;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
}

.amenities p {
    flex: 1 1 30%;
    padding: 10px 1px 10px 4px;
}

.amenities p:nth-child(2n+1) {
    flex: 1 1 55%;
}

.btn {
    display: flex;
    justify-content: end;
    margin: 10px 0;
}

.btn3 {
    padding: 10px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 2px;
    margin: 4px;
}

.btn1 {
    background-color: #fff;
    border: 1px solid #aaa;
    width: 350px;
    border-radius: 2px;
    cursor: pointer;
    color: black;
}

.btn1:hover {
    background-color: rgb(240, 102, 48);
    color: #fff;
}

.check_availability {
    text-decoration: none;
    font-size: 12px;
}

.btn2 {
    background-color: blue;
    font-size: 12px;
    color: #fff;
    padding: 5px;
}

.btn2 a {
    text-decoration: none;
    color: #fff;
}

.fav {
    display: flex;
    list-style-type: none;
    cursor: pointer;
    font-size: 24px;
    align-items: center;
    justify-content: space-around;
}

#favoriteForm:hover {
    border: 1px solid #F0F0F0;
    border-radius: 2px;
    background-color: #F0F0F0;
}

.selected {
    color: #d65076;
}

.reviewForm {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.reviewForm fieldset,
.reviewForm textarea {
    padding: 5px;
    margin: 5px 0 10px 0;
}

.reviewForm button {
    align-self: center;
    padding: 5px;
    cursor: pointer;
    margin: 5px 0 5px 0;
    background-color: rgb(240, 102, 48);
    color: #fff;
    border: none;
    border-radius: 2px;
}

.insert_review {
    width: 30%;
}

.room_info,
.no_reviews,
.insert_review {
    width: 80%;
}

.first_box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.first_box img {
    width: 65%;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first_box .description {
    width: 32%;
}

.description .room_title {
    display: flex;
    justify-content: space-around;
}


@media screen and (max-width: 800px) {
    .title {
        flex-wrap: wrap;
    }

    .amenities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .amenities p {
        border-bottom: 2px dotted #fff;
        width: 100%;
        text-align: center;
    }

    .room_info img {
        width: 100%;
    }
}

.reviews {
    width: 50%;
    height: 350px;
    margin-top: 15px;
    overflow: scroll;
}

.reviews h1 {
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.room_reviews {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px dotted gray;
}

.content_left {
    width: 30%;
}

.content_left span {
    text-transform: capitalize;
}

.content_right {
    width: 70%;
}

.content_right h5 {
    display: inline-block;
    padding-right: 20px;
    font-size: 12px;
}

.room_reviews div:nth-child(2n+1) {
    background-color: #ffeb3b1c;
    height: 30px;
}

/* Pop up */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn {
      cursor: pointer;
      color: blue;
      font-size: 16px;
      text-decoration: underline;
      font-weight: 100;
      display: inline-block;
  }

  .popup i {
      color: blue;
      cursor: pointer;
  }

  .modal-content iframe {
      width: 90%;
      height: 400px;
  }

  .first_btn {
      background-color: yellowgreen;
  }

  .book_btn {
      display: flex;
      justify-content: end;
  }

  .booking_details {
      padding: 5px;
      background-color: #aaa;
  }

.starrr {
    display: inline-block;
 }
.starrr a {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119;
    text-decoration: none;
 }