html,
body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #fff;
  color: #000;
}
body > main {
  margin: 120px 0 0 0;
}
body > header {
  box-shadow: 1px 2px 1px 1px rgb(0 0 0 / 40%);
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  }

      body > header a {
        text-decoration: none;
        color: #666;
      }
      body > header a:hover {
        color: orange;
      }

      body > header .main-logo {
        color: #666;
        margin: 0;
        padding-left: 350px;
        display: inline-block;
        padding-top: 16px;
        font-weight: bold;
      }
      body > header .primary-menu {
        text-align: right;
        display: inline;
      }
          body > header ul,
          body > header ul li {
            list-style: none;
            list-style-type: none;
            display: inline-block;
            float: right;
          }
          body > header ul {
            margin-right: 280px;
          }
          body > header .primary-menu i {
            color: #333333d1;
          }
          body > header .primary-menu i:hover {
            color: orange;
          }
      body > main ol i:hover{
        color: #eb8d00e0;
      }
      body > main ol i {
        color: #616161e0;
      }
      body > main ol{
        text-align: left;
        font-size: 18px;
        color: #333;
      }
#divleft {
  /* background: red; */
  float: right;
  padding-left: 8px;
}
#divright {
  /* background: green; */
  float:right;
  padding-right: 8px;
  border-right: 3px dotted #8080806e;
  }
body > footer {
  background: #ccc;
  border-top: 3px solid #808080;
  position: relative;
  height: 50px;
  margin-top: -50px;
  clear: both;
}
    body > footer p {
      margin: 0;
      padding: 15px 0;
      color: #616161;
      font-size: 13px;
      text-align: center;
    }

button,
input[type="button"] {
  /* background: #de2305;
  color: white; */
  border: none;
  /* border-bottom : 1px solid #ca4502; */
  cursor:pointer;
  /* margin: 25px -5px 0 -10px;
  padding: 5px 11px 5px 11px; */

}
button:hover,
input [type="button"]:hover {
  /* background: gray; */
}
button a,
button a:hover,
button a:active,
button a:visited,
button a:focus {
  color: #fff;
  text-decoration: none;
}
h2,
h3 {
  font-family: 'RobotoR';
}
aside.hotel-search,
section.favorites {
  width: 250px;
  /* padding: 25px;
  box-sizing: border-box; */
  box-shadow: 0 2px 4px 4px rgb(0 0 0 / 20%);
  border-radius: 5px;
  display: inline-block;
  /* float: left; */
  text-align: center;
}

    .hotel-search p,
    section.favorites p {
      color: #de2305;
      text-transform: uppercase;
      padding: 33px 15px 22px 15px;
      text-align: center;
      font-size: 18px;
      font-family: 'OpenSansR';
      margin: 0 0 15px 0;
    }
    section.favorites p {
      text-align: left;
      /* padding: 0px 15px; */
    }
    section.favorites p.last-paragraph {
      padding: 0px 15px;
    }
    aside.hotel-search #slider {
      width: 80%;
      margin: auto;
      padding: 0;
      display: block;
    }
    .hotel-search label {
      font-size: 12px;
      width:100%;
      color: #8f848c;
      font-weight: bold;
    }
    .hotel-search label.right {
      margin-left: 10px;
    }
    .hotel-search label.left {
     padding-left: 55px;
    }

aside form select {
  border: 1px solid #c7c7c7;
  margin: 5px 0 6px 0;
  width: 80%;
  background: #80808021;
  border-radius: 4px;
  /* padding: 12px 22px 12px 22px; */
}
aside form option {
  text-align:center;
}
aside form input {
  border: 1px solid #c7c7c7;
  margin: 5px 0 6px 0;
  width: 80%;
  background: #fff;
  border-radius: 2px;
  padding: 12px 22px 12px 22px;
  text-align: center;
}
aside form input.from,
aside form input.to {
  background: #80808021;
  width:30%;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  margin-bottom: 12px;
  margin-top: 12px;
}
aside form input.from {
  margin-right: 25px;
}
aside.main-photo img {
  height: 300px;
  width: 500px;
  margin-top: 20px;
  margin-left: 40px;
}
aside.main-photo {
  margin-left: 195px;
  display: inline-block
  /* float: left; */
}
.hotel-list h3 {
  margin: 0;
  padding: 0;
}
.hotel h2 {
  margin: 10px 0 0 0;
  padding: 0;
}

article.hotel {
  /* padding: 0 0 25px 0;
  margin: 0 0 25px 0; */
  width: 1000px;
  box-sizing: border-box;
  border-bottom: 1px solid #daddd9
}
section.hotel-list {
  width: 750px;
  padding-left: 65px;
  box-sizing: border-box;
  display: inline-block;
  float:right;
}
/* .page-title {
  margin-right: 560px;
  margin-left: 50px;
} */
.page-title h2 {
  background: #de2305;
  color: white;
  font-size: 25px;
  line-height: 35px;
  border-radius: 6px;
  font-family: 'OpenSansL';
  font-weight: 300;
  padding-left: 10px;
}
.page-title h1{
  display: inline-block;
  font-size: 20px;
  line-height: 35px;
  font-family: 'OpenSansL';
  font-weight: 300;
}
.inline-block h2 {
  display: inline-block;
  background-color: inherit;
  /* border-right: 2px solid #fff; */
  padding-right: 8px;
  font-size: 20px;
  border-radius: 0px;
}
.whiteborder {
  border-right: 2px solid #fff;
}
.page-title i {
  font-size: 23px;
}
    article.hotel {
      border-bottom: 1px dotted #9c9b9a;
      padding: 0 0 15px 0;
      margin: 0 0 25px 0;
    }
    article.hotel:last-child {
      border-bottom: none;
    }
        article.hotel h2 {
            color: #5c5c5c;
            font-size: 25px;
            line-height: 35px;
            text-transform: uppercase;
            margin: 10px 0 0 0;
            padding: 0;
        }
        article.hotel h3 {
          color: #b6b4b1;
          font-size: 18px;
          line-height: 25px;
          letter-spacing: -1px;
          font-family: 'OpenSansL';
        }
        article .hotel p {
          color: #333;
          font-size: 16px;
          line-height: 24px;
        }
        article.hotel .media,
        article.hotel .info {
          float:left;
        }
        article.hotel .media {
          width: 25%;
        }
        article.hotel .media img {
          margin-top: 11px;
          height: 114.20px;
        }
        article.hotel .info {
          width: 70%;
          box-sizing: border-box;
          padding: 0 0 0 25px;
          margin: 0 0 0 12px;
          /* border-left: 3px solid #f50; */
        }
        /* article.hotel h4 {
          display: inline-block;
          float: left;
          margin-left: 380px;
          color: #666;
          font-weight: bold;
        } */
        .border-line {
          border-left: 3px solid #f50;
          padding: 0 0 0 10px;
          margin-left: -25px;
        }
          .border-line i {
            font-size: 14px;
          }

.container {
  width: 1004px;
  margin: 25px auto;
  min-height: 100%;

}
.page-title {
 background: #ff5500;
 color: white;
 border-radius: 4px;
 width: 780px;
 height: 70px;
}
.clear {
  clear: both;
}
.inline-block {
  display: inline-block;
}
.align-top {
  vertical-align: top;
}

.buttonright  {
  text-align: right;
}
.select {
  cursor: pointer;
}
.box {
  border: 1px solid #eee;
  background: #efefef;
  padding: 8px 19px;
  text-align: center;
  color: #6e5c5c;
  font-size: 13px;
  width: 100%;
  margin-left: -25px;
  margin-top: 24px;
  }
.box1 {
  padding: 15px 40px;
  }
.box2 {
  padding: 15px 54px;
}
.box3 {
  padding: 15px 76px;
}
.centerbutton {
 margin-top: -18px;
}
.findhotel {
  background: #de2305;
  color: white;
  width: 80%;
  padding: 6px;
  margin-top: 6px;
  border-bottom : 1px solid #ca4502;
}
.price {
  color: white;
  background: #616161e0;
  border-bottom : 1px solid #00000061;
  padding: 8px;
  margin-top: 45px;
  width: 100%;
}
.room-page {
  background: #de2305;
  color: white;
  padding: 5px 12px;
  margin-top: -25px;
}

.border-left {
  border-left: 2px solid #6e5c5c;
  padding-left: 60px;
}
.padding-right {
  padding-right: 60px;
}
.smallbox {
  font-size: 10px;
}
.grayboxleft {
  padding-right: 10px;
}
.grayboxmiddle {
  border-left: 2px solid #6e5c5c;
  border-right: 2px solid #6e5c5c;
  padding: 0 15px;
}
.grayboxright {
  padding-left: 10px;
}
.maincontent {
  text-align: center;
}
.orange-box {
  background: #ff5500;
  color: white;
  width: 78%;
  margin: 15px 0  0 368px;
  border-radius: 2px;
  font-size: 10px;
}
.left-box {
  border-right: 2px dashed #fff;
  padding: 0 30px;
  /* float: left;
  padding-left: 10px; */
}
.right-box {
  padding-right: 25px;
  padding-left: 25px;
}
.middle-box {
  border-right: 2px dashed #fff;
  padding: 0 30px;
}
.description {
  /* border-left: 2px solid #ff5500c7; */
  /* margin: 8px 0 0 3px; */
  margin-top: 8px;
  margin-left: 367px;
  width: 78%;
}

.description p {
  text-align: left;
  padding-left: 5px;
}

.review {
  margin-top: 8px;
  margin-left: 367px;
  width: 78%;
  padding-top: 20px;
}
.review p {
  margin-right : 110px;
  font-size: 10px;
  /* padding-right: 300px; */
  padding-left: 6px;
  margin-right: 630px;
}
.review h4 {
  color: #666;
  margin-bottom: 0px;
  text-align: left;
  margin-top: 15px;
  padding-left: 6px;
  line-height: 20px;
  /* padding-top: 15px; */
}
/* .orange {
  color: orange;
} */

.star {
  cursor: pointer;
  margin-left: -30px;
}

ul#fav.star.selected {
  margin-left: -33px;
  font-size: 25px;
}

form#favoriteForm {
  display: inline-block;
}
section.borderleft .review-stars {
  color: black;
  padding-right: 650px;
  padding-top: 25px;
}

section.borderleft p {
  text-align: left;
}
section.borderleft .review-stars i {
  color: #ccc;
}
/* section.borderleft .extra-padding {
  padding-right: 390px;
} */
.borderleft {
  border-left: 2px solid #ff5500c7;
}
.description h4 {
  color: #666;
  margin-bottom: 0px;
  text-align: left;
  margin-top: 2px;
  padding-left: 6px;
}
.description p {
  /* margin-right : 110px; */
  font-size: 10px;
  /* padding-right: 300px; */
}
.booked {
  background: #c61616;
  color: #fff;
  border-radius: 2px;
  padding: 5px 5px;
  float: right;
  margin-top: 50px;
}

.book-now{
  background: #ff5500c7;
  color: #fff;
  border-radius: 2px;
  padding: 5px 5px;
  float: right;
  margin-top: 50px;
}
.map {
  margin-top: 60px;
  margin-left: 360px;
  border-bottom: 3px dashed #c1c1c1;
  padding-bottom: 80px;
}

textarea {
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  height: 60px;
}
input[type="button"] {
  padding: 8px;
  background: #f50;
  color: #fff;
  cursor: pointer;
  margin-top: 15px;
  border-radius: 2px;
}
.margin-top {
  margin-top: 50px;
}

form ul li {
  cursor: pointer;
}

/* -----------------------MEDIA QUERIES */
/* @media (max-width: 1004px) {
  .container {
    width: 800px;
  }
  section.hotel-list {
    width: 550px;
  }
}

@media (max-width:804px) {
  .container {
    width: 100%;
  }
  aside.hotel-search,
  section.hotel-list {
    width: 90%;
    margin: 0 auto;
    display: block;

  }
} */

.stars a {
  opacity: 50%;
}

.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
